<div class="center1">
<div class="name">
＜氏名＞
  </div>
  <div class="kana" >
  ＜カナ氏名＞
  </div> 
  <div class="num">
  ＜社員番号＞
  </div>
  <div class="position">
  ＜役職＞
  </div>
  <div class="extension">
  ＜内線番号＞
  </div>
</div>