<div class="main">

 <div class="left">
  <%= render "addresses/left" %>
 </div>

 <div class="center">
  <%= render "users/center" %>
 </div>

 <div class="right">
  <%= render "naisens/right" %>
 </div>

</div>