<%# <%= form_with model: [@bbb, @naisen], class: 'form', local: true do |f| %> 
 <%# <div class="extension"> %>
 　内線番号：　
    <%# <%= f.text_field :naisen, class: 'form-message', placeholder: 'type a message' %> 
  <%# </div> %>